*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   /* background-image: url('img/5-peliculas-que-son-tendencia-en-netflix-para-ver-este-fin-de-semana.webp');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html{
    font-size: 62.5%;
}
h1{
    margin-top: 1rem;
    margin-right: auto;
    font-size: 3rem;
    margin-bottom: 1rem;
}
header{
    width:100%;
    background-color: rgba(183, 183, 189, 0.23);
    padding: 2rem;
    display: inline-block;
    justify-content: center;
    text-align: center;
    gap: 1rem;

}
.header-arrow {
    color: #c43086;
    font-weight: 900  ;
    font-size: 40px;
    margin-bottom: 16px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}
.header-arrow--white {
    color: #e3ba35;
}
header input{
    width: 40%;
    align-self: center;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #000000;
    height: 3rem;
}
header button{
    background-color: rgba(0, 0, 0, 0.89);
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    height: 3rem;
    width: 7rem;
}
.title-trending{
    text-align: center;
    margin-top:2rem;
    font-size:2rem;
}
.trendingPreview-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 20rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.trendingPreview-container img{
    border-radius:10px;
    flex-shrink: 0;
    margin: 0.5rem;
    height: 15rem;
    box-shadow: 5px 5px 10px black;
}
.trendingPreview-btn{
    background-color: #c43086;
    width: 100%;
    z-index: 999;
}
.categories-preview{
    display: grid;
    grid-template-columns:  2fr 2fr;
    gap:.5rem;
    justify-items: center;
    margin-bottom: 1rem;
}
.category-container{
    width: 50%;
    min-width: 120px;
    max-width: 25%;
    display: flex;
    border-radius: 5px;
    padding: .5rem;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px black;
    color: #111717;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(164, 44, 38, 0.73);
    cursor: pointer;
}
.category-container:before{
    content: "";
    display: inline-block;
    min-width: 12px;       /* ancho del cuadrado */
    min-height: 12px;      /* alto del cuadrado */
    background-color: #e3ba35;
    margin-right: 8px; /* espacio entre el cuadrado y el texto */
    align-self: center;
}

.inactive {
    display: none;
}